:root {
  --main-bg-color: #2e3440;
  --white: #eceff4;
  --gray: #4c556a;
}

body {
  background-color: #2e3440;
}

.form-field {
  padding: 10px;
}

.form-button-group button {
  padding: 10px 20px;
  margin: 10px;
  float: center;
}

.bg-custom-dark {
  background-color: var(--main-bg-color);
}

.nord6 {
  color: var(--white);
}

.nord3 {
  color: var(--gray);
  background-color: var(--gray);
}

.custom-primary-btn {
  color: #2e3440;
  background-color: #88c0d0;
  border-color: #88c0d0;
}

.custom-primary-btn:hover {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-btn select {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-form-btn {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-form-btn:hover {
  color: #2e3440;
  background-color: #88c0d0;
  border-color: #88c0d0;
}

.custom-delete-btn {
  color: #eceff4;
  background-color: #bf616a;
  border-color: #bf616a;
}

.custom-secondary-btn {
  color: #2e3440;
  background-color: #d8dee9;
  border-color: #d8dee9;
}

.off-canvas {
  background-color: #3b4252;
}

.card {
  height: 300px;
  box-shadow: white;
  border-color: #4c566a;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px 2px #242a36;
  background-color: var(--gray);
  color: var(--white);
}

.spinner {
  background-color: #bf616a;
  position: fixed;
  top: 50%;
  left: 50%;
}
