.form-field {
  padding: 10px;
}

.form-button-group button {
  padding: 10px 20px;
  margin: 10px;
  float: center;
}

.bg-custom-light {
  background-color: #2e3440;
}

.nord6 {
  color: #eceff4;
}

.nord3 {
  color: #4c566a;
  background-color: #4c566a;
}

.nord-btn {
  color: #eceff4;
  background-color: #3b4252;
  border-color: #3b4252;
}

.nord-btn:hover{
  color: #eceff4;
  background-color: #A3BE8C;
  border-color: #A3BE8C;
}
