body {
  background-color: #2e3440;
}

.form-field {
  padding: 10px;
}

.form-button-group button {
  padding: 10px 20px;
  margin: 10px;
  float: center;
}

.bg-custom-dark {
  background-color: #2e3440;
}

.nord6 {
  color: #eceff4;
}

.nord3 {
  color: #4c566a;
  background-color: #4c566a;
}

.custom-primary-btn {
  color: #2e3440;
  background-color: #88c0d0;
  border-color: #88c0d0;
}

.custom-primary-btn:hover {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-btn select {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-form-btn {
  color: #2e3440;
  background-color: #81a1c1;
  border-color: #81a1c1;
}

.custom-primary-form-btn:hover {
  color: #2e3440;
  background-color: #88c0d0;
  border-color: #88c0d0;
}

.custom-delete-btn {
  color: #eceff4;
  background-color: #bf616a;
  border-color: #bf616a;
}

.custom-secondary-btn {
  color: #2e3440;
  background-color: #d8dee9;
  border-color: #d8dee9;
}

.off-canvas {
  background-color: #3b4252;
}

.card {
  height: 300px;
}

.spinner {
  background-color: #bf616a;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes linearwipe {
  from {
    width: 0;
  }
}

.spinner-text {
  color: #bf616a;
  position: fixed;
  top: 58%;
  left: 47%;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: linearwipe 4s steps(60, end);
}
